{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
    <div class="border">
        <h3><a href="{% url 'listing' listing.id %}"> {{ listing.title }}</a></h3>
        <p> {{ listing.description }}</p>
        <h4> ${{ listing.starting_bid }}</h4>
        <h5> {{ listing.category }}</h5>
        {% if listing.image %}
        <img src="{{ media_url }}{{ listing.image }}" alt="">
    
        {% else %}
         <h2>No image</h2>  
        {% endif %}

    </div>
    {% endfor %}
{% endblock %}